{% extends "base.html" %}
{% block titulo %} Nosotros {% endblock %}
{% block contenido %}

<br>
<div class="card">
    <div class="card-header">
        <center><h3>Presentacion de la aplicacion</h3></center>
    </div>
    <div class="card-body">
        <h4 class="card-title">Es un create/read/update/delete de una libreria:</h4>
        <p class="card-text">Podes almacenar, editar y  borrar  libros con el titulo, imagen y descripcion del mismo. Lo hice a modo de aprender el framework django, mejorar mi habilidad con python y aprender una nueva tecnologia</p>
    </div>
    <div class="card-footer text-muted">
        <center><h5> Estudiante de ingenieria de sistemas de información </h5></center>
        <center><h6>Ariel Perez</h6></center>
    </div>
</div>

{% endblock %}

